h1 {
  display: inline-block;
  margin-bottom: 0;
}
.root-wrapper {
  height: 100%;
}
api-nav {
  display: inline-block;
  vertical-align: middle;
}
app-tokens {
  display: block;
  height: 100%;
}
app-logs {
  display: block;
  height: 100%;
}
